:root {
    --size-gear: 10vh;
}

#wrapper-gears {
    width: 90vw;
    box-sizing: border-box;

    /*padding: 5vw;*/
    transform: scale(1);
    opacity: 0.9;
}

.gears {
    width: 100%;
    display: inline-block;
    position: relative;
}

.gears-container {
    width: 150px;
    min-height: 20vh;
    font-size: calc(var(--size-gear) / 2.75);
    position: relative;
    margin: 0px auto;
}

.gear-rotate {
    width: var(--size-gear);
    height: var(--size-gear);
    top: calc(var(--size-gear) * 0.75);
    right: 52.55%;
    background: var(--third-color);
    position: absolute;
    border-radius: calc(var(--size-gear) / 2);
    -webkit-animation: 5s gear-rotate linear infinite;
    -moz-animation: 5s gear-rotate linear infinite;
    animation: 5s gear-rotate linear infinite;
}

.gear-rotate-left {
    top: calc(var(--size-gear) * 0.115);
    left: 52.55%;
    width: calc(var(--size-gear));
    height: calc(var(--size-gear));
    background: var(--third-color);
    position: absolute;
    border-radius: calc(var(--size-gear) / 2);
    -webkit-animation: 5s gear-rotate-left linear infinite;
    -moz-animation: 5s gear-rotate-left linear infinite;
    animation: 5s gear-rotate-left linear infinite;
}

.gear-rotate::before,
.gear-rotate-left::before {
    width: calc(var(--size-gear) * 1.4);
    height: calc(var(--size-gear) * 1.4);
    background:
        -webkit-linear-gradient(0deg, transparent 39%, var(--third-color) 39%, var(--third-color) 61%, transparent 61%),
        -webkit-linear-gradient(60deg, transparent 42%, var(--third-color) 42%, var(--third-color) 58%, transparent 58%),
        -webkit-linear-gradient(120deg, transparent 42%, var(--third-color) 42%, var(--third-color) 58%, transparent 58%);
    background:
        -moz-linear-gradient(0deg, transparent 39%, var(--third-color) 39%, #3b3b3b 61%, transparent 61%),
        -moz-linear-gradient(60deg, transparent 42%, var(--third-color) 42%, var(--third-color) 58%, transparent 58%),
        -moz-linear-gradient(120deg, transparent 42%, var(--third-color) 42%, var(--third-color) 58%, transparent 58%);
    background:
        -o-linear-gradient(0deg, transparent 39%, var(--third-color) 39%, var(--third-color) 61%, transparent 61%),
        -o-linear-gradient(60deg, transparent 42%, var(--third-color) 42%, var(--third-color) 58%, transparent 58%),
        -o-linear-gradient(120deg, transparent 42%, #3b3b3b 42%, var(--third-color) 58%, transparent 58%);
    background: -ms-linear-gradient(0deg, transparent 39%, var(--third-color) 39%, var(--third-color) 61%, transparent 61%), -ms-linear-gradient(60deg, transparent 42%, var(--third-color) 42%, var(--third-color) 58%, transparent 58%), -ms-linear-gradient(120deg, transparent 42%, var(--third-color) 42%, var(--third-color) 58%, transparent 58%);
    background:
        linear-gradient(0deg, transparent 39%, var(--third-color) 39%, var(--third-color) 61%, transparent 61%),
        linear-gradient(60deg, transparent 42%, var(--third-color) 42%, var(--third-color) 58%, transparent 58%),
        linear-gradient(120deg, transparent 42%, var(--third-color) 42%, var(--third-color) 58%, transparent 58%);
    position: absolute;
    content: "";
    top: calc(var(--size-gear) / -5.375);
    left: calc(var(--size-gear) / -5.375);
    border-radius: calc(var(--size-gear) / 1.15);
}

.gear-rotate::after,
.gear-rotate-left::after {
    width: calc(var(--size-gear) / 2);
    height: calc(var(--size-gear) / 2);
    background: var(--default-gradient-radial);
    position: absolute;
    content: "";
    top: calc(var(--size-gear) / 4);
    left: calc(var(--size-gear) / 4);
    border-radius: calc(var(--size-gear) / 4);
}

@-webkit-keyframes gear-rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@-moz-keyframes gear-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes gear-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes gear-rotate-left {
    0% {
        -webkit-transform: rotate(30deg);
    }

    100% {
        -webkit-transform: rotate(210deg);
    }
}

@-moz-keyframes gear-rotate-left {
    0% {
        -webkit-transform: rotate(30deg);
    }

    100% {
        -webkit-transform: rotate(390deg);
    }
}

@keyframes gear-rotate-left {
    0% {
        -webkit-transform: rotate(30deg);
    }

    100% {
        -webkit-transform: rotate(390deg);
    }
}